@charset "utf-8";
/* CSS Document */

#body{
	background-color:#11a6d4;
}

#register-box{
	background-color:#1992b7;
	width: 340px;
	height: 300px;
	margin: 140px auto 0px;
	border-radius:5px;
}

#register-box-label{
	background-color:#EAEAEA;
	height: 45px;
	text-align:center;
	font: bold 14px/45px sans-serif;
	border-top-left-radius:5px;
	border-top-right-radius: 5px;
	border-bottom:#A9A9A9;
	box-shadow: 1px 0px 0px #dedede;
	color:#555555;
	text-shadow: 1px 0px 0px white;
	
}

#register-box-interno{
	background-color:#FdFdFd;
	width:960px;
	height:430px;
	position:absolute;
	border-radius:5px;
	margin:10px;
	box-shadow:0px 0px 5px black;
	overflow:hidden;
	margin-left:180px;
	margin-top:50px;
	
}

#razao{
	border-radius:3px;
	margin:20px;
	padding: 5px;
	backgroung-color:#f2f5f7;
	float:left;
}

#razao input{
	width:410px;
	height:35px;
	padding-left:5px;
	font: normal 13px sans-serif;
	color:#aeaeae;
	border-radius:3px;
	border:1px solid #bfc4c6;
}

#razao:hover input{
	border-color:#7dc6dd;
	border:1px solid #7dc6dd;
	cursor:text;
}

#cnpj{
	border-radius:3px;
	margin:20px;
	padding: 5px;
	backgroung-color:#f2f5f7;
	float:right;
	padding-right:5px;
}

#cnpj input{
	width:415px;
	height:35px;
	padding-left:3px;
	font: normal 13px sans-serif;
	color:#aeaeae;
	border-radius:3px;
	border:1px solid #bfc4c6;
}

#cnpj:hover input{
	border-color:#7dc6dd;
	cursor:text;
	margin-left:0;
}

#endereco{
	border-radius:3px;
	margin:20px;
	padding: 5px;
	backgroung-color:#f2f5f7;
	float:left;
	padding-right:100px;
	margin-top:-10px;
}

#endereco input{
	width:905px;
	height:35px;
	padding-left:3px;
	font: normal 13px sans-serif;
	color:#aeaeae;
	border-radius:3px;
	border:1px solid #bfc4c6;
}

#endereco:hover input{
	border-color:#7dc6dd;
	cursor:text;
	margin-left:0;
}

#municipio{
	border-radius:3px;
	margin:20px;
	padding: 5px;
	backgroung-color:#f2f5f7;
	float:left;
	margin-top:-10px;
}

#municipio input{
	width:410px;
	height:35px;
	padding-left:5px;
	font: normal 13px sans-serif;
	color:#aeaeae;
	border-radius:3px;
	border:1px solid #bfc4c6;
}

#municipio:hover input{
	border-color:#7dc6dd;
	border:1px solid #7dc6dd;
	cursor:text;
}

#cep{
	border-radius:3px;
	margin:-69px 80px;
	padding:5px;
	backgroung-color:#f2f5f7;
	float:right;
	padding-right:5px;
}

#cep input{
	width:355px;
	height:35px;
	padding-left:3px;
	font: normal 13px sans-serif;
	color:#aeaeae;
	border-radius:3px;
	border:1px solid #bfc4c6;
}

#cep:hover input{
	border-color:#7dc6dd;
	cursor:text;
	margin-left:0;
}

#uf{
	border-radius:3px;
	margin:-69px 20px;
	padding:5px;
	backgroung-color:#f2f5f7;
	float:right;
	padding-right:5px;
}

#uf input{
	width:35px;
	height:35px;
	padding-left:3px;
	font: normal 13px sans-serif;
	color:#aeaeae;
	border-radius:3px;
	border:1px solid #bfc4c6;
}

#uf:hover input{
	border-color:#7dc6dd;
	cursor:text;
	margin-left:0;
}

#pessoa{
	border-radius:3px;
	margin:20px;
	padding: 5px;
	backgroung-color:#f2f5f7;
	float:left;
	margin-top:-10px;
}

#pessoa input{
	width:410px;
	height:35px;
	padding-left:5px;
	font: normal 13px sans-serif;
	color:#aeaeae;
	border-radius:3px;
	border:1px solid #bfc4c6;
}

#pessoa:hover input{
	border-color:#7dc6dd;
	border:1px solid #7dc6dd;
	cursor:text;
}

#email{
	border-radius:3px;
	margin:20px;
	padding: 5px;
	backgroung-color:#f2f5f7;
	float:right;
	margin-top:-5px;
	margin-right:9px;
}

#email input{
	width:410px;
	height:27px;
	padding-left:5px;
	font: normal 13px sans-serif;
	color:#aeaeae;
	border-radius:3px;
	border:1px solid #bfc4c6;
}

#email:hover input{
	border-color:#7dc6dd;
	border:1px solid #7dc6dd;
	cursor:text;
}

#telefone{
	border-radius:3px;
	margin:20px;
	padding: 5px;
	backgroung-color:#f2f5f7;
	float:right;
	margin-top:-10px;
}

#telefone input{
	width:410px;
	height:35px;
	padding-left:5px;
	font: normal 13px sans-serif;
	color:#aeaeae;
	border-radius:3px;
	border:1px solid #bfc4c6;
}

#telefone:hover input{
	border-color:#7dc6dd;
	border:1px solid #7dc6dd;
	cursor:text;
}

#celular{
	border-radius:3px;
	margin:20px;
	padding: 5px;
	backgroung-color:#f2f5f7;
	float:right;
	padding-right:5px;
	margin-top:-69px;
}

#celular input{
	width:415px;
	height:35px;
	padding-left:3px;
	font: normal 13px sans-serif;
	color:#aeaeae;
	border-radius:3px;
	border:1px solid #bfc4c6;
}

#celular:hover input{
	border-color:#7dc6dd;
	cursor:text;
	margin-left:0;
}

#botoes{
	width:310px;
	margin-left:250px;
}

#botao{
	float:left;
	padding:5px 15px;
	margin-left:410px;
	font: bold 12px sans-serif;
	border-radius:20px;
	text-shadow:1px white;
	border: 1px solid #9eb9c3;
	background-color:#edf6f9;
}
